/* Секция "Нет результатов" */
.no-results { 
  padding: 4rem 0; 
}
.no-results-content {
  text-align: center; 
  padding: 3rem; 
  background: var(--bg-secondary);
  border-radius: 16px; 
  max-width: 500px; 
  margin: 0 auto;
}
.no-results-icon { 
  font-size: 4rem; 
  display: block; 
  margin-bottom: 1rem; 
}
.no-results h3 { 
  font-size: 1.5rem; 
  /* margin-bottom: 1rem;  */
  color: var(--text-primary); 
}
.no-results p  { 
  color: var(--text-primary); 
}
.btn-restart {
  border-radius: .75rem;
  border-color: var(--accent);
  font-size: clamp(0.875rem, 0.838rem + 0.19vw, 1rem);
  padding: 8px 12px;
  margin-top: .75rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.btn-restart:hover {
  background: var(--accent);
  color: aliceblue;
}
.btn-restart:active {
  transform: scale(.95);
}
@media (max-width: 480px) {
  .no-results h3 {
    font-size: clamp(1.2rem, 0.6rem + 3vw, 1.5rem);
    line-height: 1.3;
  }
}