/* Навигация и переключение темы */

header {
  position: sticky;
  top: 0;
  background: var(--bg-primary);
  z-index: 100;
  padding: 0;
  transition: all 0.3s ease;
}

.header-nav {
  padding: clamp(0.5rem, 0.352rem + 0.74vw, 1rem) 0;
}

.nav {
  padding: 0;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav-menu:nth-child(1) {
  /* margin-left: auto; */
  font-weight: 500;
}

.nav-menu li:first-child {margin-right: auto;}

.nav-menu li:not(:last-child):not(:first-child) {
  margin-right: 6%;
}

@media (max-width: 768px) {
  .nav-menu li:not(:last-child):not(:first-child) { margin-right: 3%; font-size: clamp(0.938rem, 0.836rem + 0.34vw, 1rem);}
}

/* .nav-menu li:first-child {
  margin-right: auto;
} */


.logo {
  display: flex;
  align-items: center;
  gap: clamp(0.1rem, -0.019rem + 0.59vw, 0.5rem);
  text-decoration: none;
  font-size: clamp(1.2rem, 1.111rem + 0.44vw, 1.5rem);
  font-weight: 700;
  color: var(--text-primary);
}

.logo span {
  padding-top: 12px;
}

.logo-text {
  padding-top: 0.5rem;
  transition: opacity 0.3s ease;
}

@media (max-width: 768px) {
  .logo span {  padding-top: 22px; font-size: clamp(1.125rem, 0.968rem + 0.72vw, 1.313rem);}
}

@media (max-width: 465px) {
  .nav-menu li:not(:last-child):not(:first-child) { margin-right: 6%;}
  .logo span {display: none;}
}

.theme-toggle {
  background: var(--bg-tertiary);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 8px clamp(0.5rem, 0.426rem + 0.37vw, 0.75rem);
  cursor: pointer;
  font-size: clamp(1rem, 0.941rem + 0.3vw, 1.2rem);
  transition: all 0.3s ease;
}
.theme-toggle:hover {
  background: var(--accent-light);
  transform: rotate(20deg);
}

/* Стики-навигация */
body.is-sticky .logo .logo-text {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  position: absolute;
  white-space: nowrap;
}