/* Навигация и переключение темы */

header {
  position: sticky;
  top: 0;
  background: var(--bg-primary);
  z-index: 100;
  padding: 0;
  transition: all 0.3s ease;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: clamp(0.5rem, 0.352rem + 0.74vw, 1rem) 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: clamp(0.1rem, -0.019rem + 0.59vw, 0.5rem);
  text-decoration: none;
  font-size: clamp(1.2rem, 1.111rem + 0.44vw, 1.5rem);
  font-weight: 700;
  color: var(--text-primary);
}

.logo-text {
  padding-top: 0.5rem;
  transition: opacity 0.3s ease;
}

.theme-toggle {
  background: var(--bg-tertiary);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 8px clamp(0.5rem, 0.426rem + 0.37vw, 0.75rem);
  cursor: pointer;
  font-size: clamp(1rem, 0.941rem + 0.3vw, 1.2rem);
  transition: all 0.3s ease;
}
.theme-toggle:hover {
  background: var(--accent-light);
  transform: rotate(20deg);
}

/* Стики-навигация */
body.is-sticky .logo .logo-text {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  position: absolute;
  white-space: nowrap;
}